body{
    margin:0px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

.top{
    background-color: #FFEFD6;
}

h1{
    margin-top: 0px;
    padding-top: 30px;
    font-family: 'Caveat', cursive;
    font-size: 45px;
}

.middle-container{

}

.bottom-container{

}

.top-cloud{
    position: absolute;
    right: 110px;
    padding: 10px
}

.bottom-cloud{
    position: absolute;
    left: 150px
}

.main-img{
    height: 200px;
    width: 150px;
    border-radius: 40px;
    padding-top: 10px;
}